section.ski-detail{
	h1{
		span{
			display: none;
		}
		img{
			margin: 0 auto;
		}
	}
	.wysiwyg-content{
		div{
			&>ul{
				margin: 0;
				padding: 0;
				&>li{
					text-transform: uppercase;
					&>ul{
						margin-top: 10px;
					}
				}
			}
		}
	}
}