h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	span{
		display: inline-block;
		&:before, &:after{
			border-top: 1px solid @black;
			display: block;
			height: 1px;
			content: " ";
			width: 40%;
			position: absolute;
			left: 0;
			top: 49.5%;
		}
		&:after{
			right: 0;
			left: auto;
		}
	}
}
div.photo-caption{
	border-bottom: 1px solid @black;
	text-align: center;
	p{
		width: 60%;
		margin: 20px auto;
		font-size: 12px;
		font-style: italic;
		@media(max-width: 500px){
			width: 90%;
		}
	}
}

.retailers{
	ul{
		padding: 0;
		list-style-type: none;
	}
}

.first-stop{
	text-align: right;
	h3{
		font-size: 12px;
		text-transform: uppercase;
	}
}