section.about-page{
	h1{
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
		position: relative;
		margin-bottom: 20px;
		span{
			display: inline-block;
			&:before, &:after{
				border-top: 1px solid @black;
				display: block;
				height: 1px;
				content: " ";
				width: 40%;
				position: absolute;
				left: 0;
				top: 49.5%;
			}
			&:after{
				right: 0;
				left: auto;
			}
			@media(max-width: @screen-xs-max){
				&:before, &:after{
					content: '';
					display: none;
				}
			}
		}
	}
	div.photo-caption{
		border-bottom: 1px solid @black;
		text-align: center;
		margin-bottom: 20px;
		p{
			width: 60%;
			margin: 20px auto;
			font-size: 12px;
			font-style: italic;
			@media(max-width: 500px){
				width: 90%;
			}
		}
	}

	.retailers{
		ul{
			padding: 0;
			list-style-type: none;
		}
	}

	.first-stop{
		text-align: right;
		h3{
			font-size: 12px;
			text-transform: uppercase;
		}
	}
	ul.addr{
		list-style-type: none;
		padding: 0;
		li{
			padding-left: 5px;
			&:first-child{
				padding-bottom: 10px;
				padding-left: 0;
			}
		}
	}
}